@import "../../vars.css";
.container {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #1d417f 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 10px 20px;
  width: 45%;
  margin: 5px;
  box-sizing: border-box;

  /* Smooth transition for hover effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-8px) scale(1.03); /* lift and slightly grow */
  box-shadow: 0 24px 30px rgba(0, 0, 0, 0.35); /* deeper shadow */
}


.image {
  margin-bottom: 15px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

/* ===== Responsive ===== */
@media (max-width: 1024px) { /* Tablet */
  .container {
    width: 70%;
  }
}

@media (max-width: 768px) { /* Mobile */
  .container {
    width: 100%;
    margin: 10px 0;
    padding: 10px 9px;
  }
  .skills {
    gap: 4px;
  }
  .skill {
    padding: 2px 12px;
  }
  .links {
    flex-direction: row; /* keep demo & source side by side */
    justify-content: space-between; /* optional spacing */
    gap: 8px;
  }
}