@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 600px;
}

.title {
  font-size: clamp(36px, 8vw, 72px);
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: clamp(18px, 4vw, 30px);
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  text-align: left;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: clamp(18px, 4vw, 30px);
  font-weight: 600;
  padding: 14px 22px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.aboutImg {
  width: 70%;
  max-width: 400px;
  height: auto;
  z-index: 1;
  border-radius: 50%;
  }

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur,
.bottomBlur {
  position: absolute;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .aboutImg {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .contactBtn {
    padding: 12px 18px;
  }

  .aboutImg {
    width: 100%;
  }

  .title {
    font-size: 8vw;
  }

  .description {
    font-size: 5vw;
  }
}
